body {
    background-image: url("../img/wood-texture_00028.jpg");
    background-size: cover;
    /*background-color: gray;*/
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
    gap: 100px;
}

.title p {
    color: white;
    font-size: 4em;
    letter-spacing: 40px;
}

p.input {
    color: white;
    text-decoration: underline;
}

h1 {
    font-size: 3em;
     color: white;
}

a {
    color: white;
}

a.top{
    text-align:center
}

.sub2 p {
    font-size: 30px;
    color: white;
    text-decoration: underline;
}

.sub {
    text-align: center;
    letter-spacing: 100px;
    
    border: 3px solid #000000;
}

.sub2 {
    width: 60%;
    margin: 20px;
    border: 1px solid #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.sub3 {
    width: 42%;
    margin: 20px;
    border: 1px solid #000000;
    text-align: center; 
    
}

.sub3 p {
    font-size: 20px;
    color: white;
}


.title {
    /*background-color: deepskyblue;*/
    /*width: 600px;*/
    width: 60%;
    height: 100px;
    margin: 20px 10px auto 50px;
    border: 3px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: auto;
    border: 4px solid #000000;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.img {
    /*background-color: hotpink;*/
    width: 30%;
    height: 700px;
    margin: 20px;
    /*border: 1px solid #000000;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.toc {
    /*background-color: darkblue;*/
    width: 70%;
    height: 700px;
    margin: 20px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    
}

.toc p {
    color: white;
    font-size: 3em;
    letter-spacing: 40px;
}

.gametitle {
    background-color: deepskyblue;
    width: 80%;
    height: 100px;
    margin: -50px 0px auto 100px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gametitle p {
    font-size: 3em;
    color: white;
    letter-spacing: 40px;
}

.gameimg img {
    width: 95%;
    height: 80px;
    margin: 0 0 0 30px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.int {
    /*background-color: darkblue;*/
    width: 50%;
    height: 700px;
    margin: 20px;
    border: 1px solid #000000;
    display: flex;
    flex-wrap: wrap; 
}

.int img{
    width: 40%;
    height: 40%;
}

.img img {
    width: 70%;
    height: 70%;
} 

@media(max-width: 1100px) {
    .title p {
        
        font-size: 1.5em;
        letter-spacing: 20px;
    }

    .sub {
        font-size: 10px;
        letter-spacing: 30px;
    }

    .toc p {
        
        font-size: 2em;
        letter-spacing: 20px;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .sub2 p {
        font-size: 24px;       
    }

    .int img {
        width: 30%;
        height: 30%;
    }
}


